* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color:#ffffff;
}

section {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111111;
    transition: 0.5s;
    overflow: hidden;
}

.banner.active {
    right: 300px;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

header .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to left, blue, #2d2d2c);
    mix-blend-mode: overlay;
}

.banner .text {
    position: relative;
    z-index: 10;
}

.banner .text h2 {
    font-size: 5rem;
    color: rgb(244, 246, 245);
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}

.banner .text h3 {
    font-size: 3rem;
    color: rgb(4, 197, 197);
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}

.banner .text p {
    font-size: 1.1rem;
    color: rgb(3, 243, 159);
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.banner .text a {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    color: #080808;
    background: #ffffff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.banner .text a:hover {
    letter-spacing: 5px;
}

.social {
    position:absolute;
    bottom: 1px;
    z-index: 3;
    display: flex;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 10px;
    transform: scale(0.7);
    filter: invert(1);
    transition: 0.3s;
}

.social li a:hover {
    transform: scale(0.8) translateY(-5px);
}
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    position: relative;
    text-align: center;
}

.menu ul li {
    list-style: none;
    margin: 20px 0;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111111;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: mediumspringgreen;
}

@media (max-width: 991px) {

    section,
    section header {
        padding: 30px;
    }

    .banner .text h2 {
        font-size: 2.5rem;
    }

    .banner .text h3 {
        font-size: 1.5rem;
    }
}